header {
    background:url(images/central_park.jpg) 0 -150px; /*place image as background*/
    background-size: 1500px;
    background-repeat: no-repeat;
    height:400px;/*give header some height to display the background image*/
    /*padding-top: 100px;
    padding-left: 100px;*/
    padding: 100px 0 0 100px;/* shortcut way for the coding of padding above-clockwise starting 12 noon*/
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color:#ffffff
}

li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
    text-decoration: none;
}

li a {
    text-decoration: none; /*remove underline*/
}

li a:link {
    color:#000 ;/*before click */
}

li a:visited {
    color: #818db3; /*after click*/
}

li a:hover {
    color: #333; /*Mouse over */
}

li a:active {
    color: #753a30; /*mouse down*/
}

nav {
    background-color:rgb(255, 245, 238) ;
    height: 50px;
    text-align: center;
    padding: 2px;
}

main {
    margin: 50px;
}

main h1{
    color:rgb(129, 141, 179);
    font-size: arial;
}

/* Page Two*/
table {
    margin-top: 35px;
}

table, caption,th,td {
    border: 1px solid #000;
}

th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}

caption {
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding-top: 115px;
    color: #753a30;
}

/*Page 3*/

label {
    display: block;
    margin: 15px 0 0 0;
}

input {
    width: 300px;
}

input[type="radio"]{
    width: 25px;
}

textarea {
    width: 300px;
}

input[type="submit"]{
    display: block;
    margin: 20px 0 10px 0;
    width: 100px;
    background-color: #818db3;
    padding: 7px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
}

fieldset {
    border: 2px solid #753a30;
}

legend {
    font-size: large;
}

footer {
    height: 40px;
    background-color:rgb(129, 141, 179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211, 218, 240);
}